* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body{
    height:100%;
}

body{
    max-width:1200px;
    min-width:650px;
	margin: 0 auto;
    background-color:white;
    font-family: '微軟正黑體';
}

#all_info{
    width:35%;
    height:100%;
    padding:50px 35px 50px 30px;
    font-size:12px;
    float:left;
    background-color:black;
    color:white;
    overflow-x:hidden;
    overflow-y:auto;
}
#all_info::-webkit-scrollbar {
    display: none;
}

#my_photo{
    text-align : center;
}

#name{
    margin-top:30px;
    padding-left:1em;
}

#portfolio{
    height:100%;
    background-color:#e9e9e9;
    overflow-x:hidden;
    overflow-y:auto;
    font-size:1em;
}
#portfolio::-webkit-scrollbar {
    display: none;
}

#personal_info{
    font-size: 0.9em;
}
#personal_info ul{
    list-style:none;
    line-height:1.5em;
}
#personal_info a {
    color:white;
    text-decoration:none;
}

#personal_info a:hover{
    text-decoration:underline;
}

#experience{
    font-size:0.9em;
    margin-top:50px;
}
#experience ul{
    line-height:1.8em;
}

#graduate{
    margin-left:3em;
}

nav{
    float:right;
    width: 20%;
}
nav a{
    color:dimgray;
    text-decoration:none;
}

p a{
    color:dimgray;
    text-decoration:none;
}

#portfolio_contant a{
    color:black;
    text-decoration:none;
}

#portfolio_contant a:hover{
    text-decoration:underline;
}

a:hover{
    text-decoration:underline;
}

p{
    padding:0px 100px 10px 100px;
    line-height:2em;
    font-size:0.9em;
}

#top{
    font-size: 0.8em;
}

h1{
    font-size: 1.7em;
}

h2{
    font-size: 1.3em;
    padding-left:0.3em;
}

h3{
    padding-left:1em;
}
h3::first-letter{
    font-size: 1.5em;
}

h4::first-letter{
    font-size: 1.2em;
}
h4{
    text-align: right;
    padding-right: 1em;
    margin-bottom: 0;
}
h5{
    text-align: right;
    padding-right: 1em;
}
h6{
    padding-left:2em;
    font-size:1.3em;
    margin-bottom: 0em;
}

#portfolio_list ul{
    list-style:none;
    text-align: right;
    font-size:0.8em;
    line-height:1.5em;
    padding-right: 1em;
}

#portfolio_contant{
    margin-bottom: 50px;
}
#portfolio_contant ul{
    list-style:none;
    padding:0px 100px 10px 100px;
    line-height:2em;
    font-size: 0.9em;
}

.topic{
    text-indent:-2em;
    font-weight: bold;
    font-size: 1em;
}
.photo{
    margin:0px 100px 10px 100px;
}


